target/
ear-module/target/
jar-module/target/
*.iml
.idea/
dependency-reduced-pom.xml
node_modules
.envrc
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# These are generated at build time by the build_languages script
/theme/off/common/messages/
/runtime-scripts/interpolated_*
