@import url('common.css');

/* Top left logo */
.login-pf body {
    background-color: var(--off-secondary-background);
    background-image: url('../img/off-logo-horizontal-light.svg');
    background-size: auto 48px;
    background-position: 18px 18px;
    background-repeat: no-repeat;
}

/* Hide realm name */
#kc-header {
    display: none;
}

/* Align login box under logo */
.pf-v5-c-login {
    margin-top: 65px;
    align-items: start;
}

/* Position language selector at top of form */
.pf-v5-c-login__main-header {
    position: relative;
    padding-top: 6rem;
}

.pf-v5-c-login__main-header-utilities {
    position: absolute;
    right: var(--pf-v5-c-login__main-body--PaddingRight);
    top: var(--pf-v5-c-login__main-header--PaddingTop);
    grid-column: auto;
    grid-row: auto;
    max-width: calc(100% - 2* var(--pf-v5-c-login__main-body--PaddingRight));
}

/* Input styling */
.pf-v5-c-input-group,
.pf-v5-c-form-control,
.pf-v5-c-button.pf-m-control {
    border-radius: var(--off-input-radius);
    background-color: var(--off-input-background);
}
.pf-v5-c-form-control>:is(input,select,textarea) {
    border-radius: var(--off-input-radius);
}

.pf-v5-c-form-control:before,
.pf-v5-c-form-control:after,
.pf-v5-c-button:after {
    border: none;
}

/* Error borders */
.pf-v5-c-input-group:has(input[aria-invalid=true]),
.pf-v5-c-form-control>:is(input,select,textarea)[aria-invalid=true]
{
    border-bottom: var(--off-input-error-border-width) solid var(--off-error-color);
}

/* Ensure red border covers whole of password fields */
.pf-v5-c-input-group input[aria-invalid=true] {
    border-bottom-width: 0;
}

/* Info positioning */
#kc-info {
    margin: 20px -2rem -2rem;
}

/* Registration screen padding */
.subtitle {
    margin-top: 0;
}
/* Helper text font size */
.pf-c-form__helper-text {
    font-size: 0.75rem;
}

/* Ensure red border covers whole of password fields 

.pf-c-input-group > .pf-c-form-control[aria-invalid=true] {
    border-bottom-width: 0;
}
.pf-c-input-group:has(> .pf-c-form-control[aria-invalid=true]) {
    border-bottom: var(--pf-global--BorderWidth--md) solid var(--pf-global--danger-color--100)
}
/*
.card-pf {
    background-color: var(--off-primary-background);
}

:root {
    --pf-global--primary-color--100: var(--off-primary-action);
    --pf-global--primary-color--200: var(--off-primary-action-hover);

    --pf-global--BackgroundColor--light-100: var(--off-input-background);

    --pf-global--BorderWidth--sm: var(--off-input-border-width);
}

a {
    color: var(--off-primary-action);
}

.login-pf a:hover {
    color: var(--off-primary-action-hover);
}



.pf-c-button.pf-m-block {
    border-radius: var(--off-button-radius);
    line-height: 2;
}

.login-pf-page .card-pf {
    margin-top: 64px;
}

/* Prevent the locale selector from jumping into the title logo on small screens 
#kc-locale {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    text-align: right;
    z-index: 9999;
}

/* Move the "back to login" link to the top of the form 
#kc-content {
    position: relative;
    padding-top: 1em;
}
#kc-form-options {
    position: absolute;
    top: 0;
}

/* Prevent Register from getting misaligned 
.col-md-10 {
    width: 100%;
}

/* Display password reset info at the top of the form 
#kc-content-wrapper {
    display:flex;
    flex-flow: column;
}
#kc-info {
    order: 1;
    margin: 0
}
#kc-reset-password-form {
    order: 2;
}
#kc-info-wrapper {
    padding: 15px 0;
    background-color: transparent;
    text-align: initial;
}

/* Preserve title font size 
.login-pf-page .login-pf-header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Ensure red border covers whole of password fields 
.pf-c-input-group > .pf-c-form-control[aria-invalid=true] {
    border-bottom-width: 0;
}
.pf-c-input-group:has(> .pf-c-form-control[aria-invalid=true]) {
    border-bottom: var(--pf-global--BorderWidth--md) solid var(--pf-global--danger-color--100)
}
*/