@import url('common.css');

/* Hide realm name */
#kc-header {
    display: none;
}

.pf-v5-c-login {
    background-color: var(--off-other-background);
    background-image: url('../img/off-logo-horizontal-light.svg');
    background-size: auto 48px;
    background-position: 18px 18px;
    background-repeat: no-repeat;
    align-items: start;
}
.pf-v5-c-login__container {
    margin-top: 65px;
    /* Ensure remains centred on wide screens */
    max-width: 36rem;
    padding: 0;
    display: block;
}

/* Position language selector at top of form */
.pf-v5-c-login__main-header {
    position: relative;
    padding-top: 5rem;
}
.pf-v5-c-login__main-header-utilities {
    position: absolute;
    right: 3em;
    top: 2em;
    grid-column: auto;
    grid-row: auto;
    max-width: calc(100% - 2 * 3em);
}
/* Avoid gap between locale selector and dropdown arrow */
.pf-v5-c-login__main-header-utilities .pf-v5-c-form-control {
    background-color: var(--off-input-background);
    border-radius: var(--off-input-radius);
}

/* Prevent override */
.login-pf a:hover {
    color: var(--off-primary-action-hover);
}

/* Remove extra padding */
#kc-form-buttons {
    margin-top: 0;
}

/* Info positioning an colour */
#kc-info {
    margin: 20px -2rem -2rem;
    background-color: var(--off-other-background);
}
#kc-info-wrapper {
    font-size: inherit;
    padding: 1rem 2rem;
    background-color: transparent;
}
#kc-registration-container {
    border: none;
}

/* Social login section */
.pf-v5-c-login__main-footer-links {
    padding-bottom: 0.5rem;
}

/* Registration screen padding */
.subtitle {
    margin-bottom: -1rem;
    margin-top: 0;
}

/* Helper text font size */
.pf-c-form__helper-text {
    font-size: 0.75rem;
    color: var(--off-text);
}

/* Move the "back to login" link to the top of the form */
.pf-v5-c-login__main-body {
    position: relative;
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -0.5rem;
}
#kc-form-options {
    position: absolute;
    top: 0;
}
.pf-v5-c-form {
    margin-top: 1rem;
}
.pf-v5-c-login__main-footer-band {
    border: 0;
    padding: 0;
}

/* Fix input height on forgot password *-
#kc-reset-password-form .pf-v5-c-form-control {
    line-height: 2rem;
}

/* Re-authenticate message position*-
.pf-v5-c-alert.pf-m-inline {
    margin-top: 1rem;
}

/* Fix cancel button positoin on delete confirmation *-
button[name=cancel-aia] {
    margin-left: 2rem !important;
}

/* Remove excess spacing *-
#kc-form-buttons {
    margin-top: 0;
}

/* Move reset password instructions to top of form *-
.pf-v5-c-login__main-body {
    display: grid;
}
#kc-reset-password-form {
    order: 2;
}
#kc-reset-password-form + #kc-info {
    margin-top: 1rem;
    margin-bottom: -1rem;
    background-color: transparent;
}

/* Ensure red border covers whole of password fields 

.pf-c-input-group > .pf-c-form-control[aria-invalid=true] {
    border-bottom-width: 0;
}
.pf-c-input-group:has(> .pf-c-form-control[aria-invalid=true]) {
    border-bottom: var(--pf-global--BorderWidth--md) solid var(--pf-global--danger-color--100)
}
/*
.card-pf {
    background-color: var(--off-background);
}

:root {
    --pf-global--primary-color--100: var(--off-primary-action);
    --pf-global--primary-color--200: var(--off-primary-action-hover);

    --pf-global--BackgroundColor--light-100: var(--off-input-background);

    --pf-global--BorderWidth--sm: var(--off-input-border-width);
}

a {
    color: var(--off-primary-action);
}

.login-pf a:hover {
    color: var(--off-primary-action-hover);
}



.pf-c-button.pf-m-block {
    border-radius: var(--off-button-radius);
    line-height: 2;
}

.login-pf-page .card-pf {
    margin-top: 64px;
}

/* Prevent the locale selector from jumping into the title logo on small screens 
#kc-locale {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    text-align: right;
    z-index: 9999;
}

/* Move the "back to login" link to the top of the form 
#kc-content {
    position: relative;
    padding-top: 1em;
}
#kc-form-options {
    position: absolute;
    top: 0;
}

/* Prevent Register from getting misaligned 
.col-md-10 {
    width: 100%;
}

/* Display password reset info at the top of the form 
#kc-content-wrapper {
    display:flex;
    flex-flow: column;
}
#kc-info {
    order: 1;
    margin: 0
}
#kc-reset-password-form {
    order: 2;
}
#kc-info-wrapper {
    padding: 15px 0;
    background-color: transparent;
    text-align: initial;
}

/* Preserve title font size 
.login-pf-page .login-pf-header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Ensure red border covers whole of password fields 
.pf-c-input-group > .pf-c-form-control[aria-invalid=true] {
    border-bottom-width: 0;
}
.pf-c-input-group:has(> .pf-c-form-control[aria-invalid=true]) {
    border-bottom: var(--pf-global--BorderWidth--md) solid var(--pf-global--danger-color--100)
}
*/