:root {
    --black: #000000;
    --white: #ffffff;
    --chocolate: #341100;
    --cappuccino: #EDE0DB;
    --latte: #F6F3F0;
    --mocha: #85746C;
    --macchiato: #A08D84;
    --cortado: #52443D;
    --ristreto: #201A17;

    --off-button-radius: 16px;
    --off-input-radius: 8px;

    --off-input-border-width: 0px;

    --off-input-error-border-width: 2px;
    --off-error-color: #c9190b;

}

/* Light mode */
:root {
    --off-primary-background: var(--white);
    --off-primary-text: var(--black);
    --off-secondary-background: var(--latte);
    --off-primary-action: var(--chocolate);
    --off-primary-action-hover: #622000; /* TBA */
    --off-primary-button-text: var(--white);
    --off-secondary-action: var(--cappuccino);
    --off-secondary-action-hover :#cfac9e; /* TBA */
    --off-secondary-button-text: var(--black);
    --off-input-background: var(--cappuccino);
    --off-notification-background: var(--mocha);
}

/* Dark mode */
:root .dark {
    --off-primary-background: var(--black);
    --off-primary-text: var(--white);
    --off-secondary-background: var(--cortado);
    --off-primary-action: var(--white);
    /* --off-primary-action-hover: #622000; /* TBA */
    --off-primary-button-text: var(--black);
    --off-secondary-action: var(--macchiato);
    /* --off-secondary-action-hover :#cfac9e; /* TBA */
    --off-secondary-button-text: var(--white);
    --off-input-background: var(--macchiato);
    --off-notification-background: var(--cappuccino);
}

:root {
    --pf-v5-global--link--Color: var(--off-primary-action);
    --pf-v5-global--primary-color--100: var(--off-primary-action);
    --pf-v5-global--BorderRadius--sm: var(--off-button-radius);
    --pf-v5-global--BorderWidth--sm: var(--off-input-border-width);
    --pf-v5-global--spacer--2xl: 2rem;
}

.pf-v5-c-button:not(.pf-m-control) {
    line-height: 2em;
}