/*
    Design guidelines here: https://www.figma.com/design/nFMjewFAOa8c4ahtob7CAB/Mobile-App-Design-(Quentin)?node-id=4200-14304
    Try to override all standard patternfly components here. Only use specific CSS for page layout
*/ 

:root {
    --black: #000000;
    --white: #ffffff;
    --chocolate: #341100;
    --cappuccino: #EDE0DB;
    --latte: #F6F3F0;
    --mocha: #85746C;
    --macchiato: #A08D84;
    --cortado: #52443D;
    --ristreto: #201A17;

    --off-button-radius: 16px;
    --off-input-radius: 8px;

    --off-input-border-width: 0px;

    --off-input-error-border-width: 2px;
    --off-error-color: #c9190b;

}

/* Light mode */
:root {
    --off-background: var(--white);
    --off-text: var(--black);
    --off-other-background: var(--latte);

    --off-primary-action: var(--chocolate);
    --off-primary-action-hover: #622000; /* TBA */
    --off-primary-button-text: var(--white);

    --off-secondary-action: var(--cappuccino);
    --off-secondary-action-hover :#cfac9e; /* TBA */
    --off-secondary-button-text: var(--black);

    --off-input-background: var(--cappuccino);

    --off-notification-background: var(--mocha);
}

/* Dark mode */
:root .dark {
    --off-background: var(--black);
    --off-text: var(--white);
    --off-other-background: var(--cortado);

    --off-primary-action: var(--white);
    /* --off-primary-action-hover: #622000; /* TBA */
    --off-primary-button-text: var(--black);

    --off-secondary-action: var(--macchiato);
    /* --off-secondary-action-hover :#cfac9e; /* TBA */
    --off-secondary-button-text: var(--white);

    --off-input-background: var(--macchiato);

    --off-notification-background: var(--cappuccino);
}

/* Tried overriding the Patternfly variables but it gets too confusing */

/***********/
/* Buttons */
/***********/
.pf-v5-c-button {
    border-radius: var(--off-button-radius);
}
/* Set height except for password visibility toggle buttons */
.pf-v5-c-button:not(.pf-m-control) {
    line-height: 2em;
}

/* Primary buttons */
.pf-v5-c-button.pf-m-primary {
    background-color: var(--off-primary-action);
    color: var(--off-primary-button-text);
}
.pf-v5-c-button.pf-m-primary:hover {
    background-color: var(--off-primary-action-hover);
}

/* Secondary / link buttons */
.pf-v5-c-button.pf-m-link {
    background-color: var(--off-secondary-action);
    color: var(--off-secondary-button-text);
}
.pf-v5-c-button.pf-m-link:hover {
    background-color: var(--off-secondary-action-hover);
}

/*********/
/* Links */
/*********/
a {
    color: var(--off-primary-action);
}
a:hover {
    color: var(--off-primary-action-hover);
}

/**********/
/* Inputs */
/**********/
.pf-v5-c-input-group,
.pf-v5-c-button.pf-m-control,
.pf-v5-c-menu-toggle,
.pf-v5-c-form-control>:is(input,select,textarea),
.pf-v5-c-form-control>select {
    color: var(--off-text);
    background-color: var(--off-input-background);
    border-radius: var(--off-input-radius);
}
.pf-v5-c-form-control {
    /* Prevent helper text from going to side of input */
    grid-template-columns: none;
    background-color: transparent;
}
.pf-v5-c-form-control>:is(input,select,textarea) {
    grid-row: initial;
}

/* Remove input underlines */
.pf-v5-c-form-control:before,
.pf-v5-c-form-control:after,
.pf-v5-c-menu-toggle:after,
.pf-v5-c-button:after {
    border: none;
}

/* Error borders */
.pf-v5-c-input-group:has(input[aria-invalid=true]),
.pf-v5-c-form-control>:is(input,select,textarea)[aria-invalid=true]
{
    border-bottom: var(--off-input-error-border-width) solid var(--off-error-color);
}

/* Ensure red border covers whole of password fields */
.pf-v5-c-input-group input[aria-invalid=true] {
    border-bottom-width: 0;
}

/* Make sure inline messages don't overlap other stuff */
.pf-m-inline {
    margin-top: 10px;
}