main.pf-v5-c-page__main::after {
    font-weight: bold;
    font-size: 1.5em;
    right: 16px;
    position: absolute;
    content: "[DEV]";
}

#kc-header {
    display: block;
    z-index: 99;
    pointer-events: none;
}