name: Update Playwright Test Screenshots
on:
  issue_comment:
    types: [created]
jobs:
  update-screenshots:
    name: Update Screenshots
    if: github.event.issue.pull_request && contains(github.event.comment.body, '/update-screenshots')
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Get repository, owner and branch name
        # see https://github.com/actions/checkout/issues/331
        id: get-branch
        run: |
            echo branch=$(gh pr view $PR_NO --repo $REPO --json headRefName --jq '.headRefName') >> $GITHUB_OUTPUT
            echo owner=$(gh pr view $PR_NO --repo $REPO --json headRepositoryOwner --jq '.headRepositoryOwner.login')  >> $GITHUB_OUTPUT
            echo repository=$(gh pr view $PR_NO --repo $REPO --json headRepositoryOwner,headRepository --jq '.headRepositoryOwner.login + "/" + .headRepository.name')  >> $GITHUB_OUTPUT
        env:
            REPO: ${{ github.repository }}
            PR_NO: ${{ github.event.issue.number }}
            GITHUB_TOKEN: ${{ secrets.RELEASE_PLEASE_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # we need to checkout the fork repository
          # see https://github.com/stefanzweifel/git-auto-commit-action?tab=readme-ov-file#workflow-should-run-in-base-repository
          fetch-depth: 1
          repository: "${{ steps.get-branch.outputs.repository }}"
          ref: "${{ steps.get-branch.outputs.branch }}"
          # We can't use GITHUB_TOKEN here because, github actions can't trigger actions
          # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#using-the-github_token-in-a-workflow
          # So this is a personal access token
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: make init
      - name: Build
        run: make build
      - name: Update Playwright test results
        run: make update_screenshots
      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: test-results
          path: test-results/
          retention-days: 30
      - name: Commit and push updated snapshots
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'Updated Playwright Screenshots'
          branch: "${{ steps.get-branch.outputs.branch }}"
